
#container{
border: 1px solid black;
height: auto;
width: 700px;
position: relative;
margin: 0px auto;
}

#history{
border: 1px solid black;
color: green;
width: 100%;
height: auto;
background-color: black;
}

#founding{
border: 1px solid black;
color: green;
width: 100%;
height: auto;
background-color: grey;
}

#lombardi{
border: 1px solid black;
color: green;
width: 100%;
height: auto;
background-color: yellow;
}