
#container{
border: 1px solid black;
height: auto;
width: 700px;
position: relative;
margin: 0px auto;
}

#history{
font-family: Arial, Helvetica;
border: 1px solid black;
color: green;
width: 100%;
height: auto;
background-color: black;
line-height: 25px;
}

#founding{
font-family: Helvetica;
border: 1px solid black;
color: green;
width: 100%;
height: auto;
background-color: grey;
}

#lombardi{
border: 1px solid black;
color: green;
width: 100%;
height: auto;
background-color: yellow;
}