#container label{
  width: 150px;
  float: left;
}

#container .button{
margin-left: 120px;
}

body{
background-color: #FFFF00;
}

#nav{
border: 1px solid black;
height: 50px;
width: 500px;
background-color: white;
margin: 0px auto;
}

#nav ul{
list-style-type: none;
}

#nav ul li{
width: 70px;
display: inline;
padding: 10px;
}

#nav ul li a:link{
text-decoration: none;
}

#nav ul li a:visited{
text-decoration: none;
color: blue;
}

#nav ul li a:hover{
text-decoration: none;
font-weight: bold;
}

#nav ul li a:active{
text-decoration: none;
color: red;
}

#container{
border: 1px solid black;
height: 600px;
width: 700px;
position: relative;
margin: 0px auto;
text-align: center;
}

#history{
font-family: Arial, Helvetica;
border: 5px #080808;
color: #006600;
width: 100%;
height: auto;
background-color: #282828;
line-height: 25px;
text-align: center;
margin-top: 20px;
padding-bottom: 20px;
}

#founding{
font-family: Helvetica;
border: 1px solid black;
color: #006600;
width: 100%;
height: auto;
background-color: grey;
}

#lombardi{
border: 1px solid black;
color: green;
width: 100%;
height: auto;
background-color: yellow;
}

#footer{
border: 1px solid black;
height: 40px;
width: 700px;
margin: 0px auto;
}
